@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

@import "tailwindcss";
@plugin "daisyui" {
  themes: winter --default, light, dark,  night;
}


:root {
  --font-zenkaku: 'Zen Kaku Gothic Antique', sans-serif;
    @apply bg-base-300;

}

.bg-login{
  width: 100%;
  height: 100vh;
  background-image: url('/login.svg');
  background-size: cover;
  background-position: center;

}

body{
  @apply h-full;
}