@import "tailwindcss";
@plugin "daisyui" {
  themes: winter --default, light, dark;
}

.bg-login{
  width: 100%;
  height: 100vh;
  background-image: url('/login.svg');
  background-size: cover;
  background-position: center;

}

body {
  
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

body{
  @apply bg-base-300;
  @apply h-full;
}